sv_port <% $port %>

logfile server.log
sv_reset_file "config/rst.cfg"
sv_input_fifo "fifo"
sv_map "Aip-Gores"

% #ddrace.cfg:
% #sv_use_sql 1
% #sv_sqlite_file "ddnet-server.sqlite"
% #exec mysql.cfg

exec common.cfg

