add_path $CURRENTDIR

sv_sqlite_file "ddnet-server-test.sqlite"

sv_swap 1
sv_practice 1
sv_vanilla_antispoof 1
sv_gametype "DDRace"
sv_ipv4only 1
sv_emoticon_ms_delay 20

sv_rcon_password "<% $password %>"
#sv_rcon_mod_password ""
#sv_rcon_helper_password ""

sv_server_info_per_second 50
sv_map_vote 1
#sv_dnsbl_host blocklist
sv_dnsbl_host SECRETDNSBL
sv_dnsbl_key SECRETKEY
sv_dnsbl 1
sv_dnsbl_ban 0
sv_dnsbl_vote 0

% if [ "$public" ]; then
	% if [ "$version" = "master" ]; then
		sv_register ipv4
	% else
		sv_register 1
	% fi
% else
	sv_register 0
% fi

sv_max_clients 64
sv_max_clients_per_ip 4
sv_spectator_slots 0

sv_announcement_filename "announcement.txt"
sv_announcement_interval 30
sv_announcement_random 1

sv_test_cmds 0
sv_fast_download 1
sv_map_window 15
sv_pauseable 0
sv_kill_delay 1
sv_nameless_score 1
sv_tournament_mode 0

sv_vote_time 30
sv_vote_majority 1
sv_vote_delay 180
sv_vote_max_total 32
sv_join_vote_delay 30

sv_tune_reset 1
sv_ddrace_tune_reset 1
sv_info_change_delay 5

#sv_netlimit 400
#sv_netlimit_alpha 50
sv_netlimit 0 # Many Stressing network bans on CHN for some reason, reported by cheeser0613
sv_max_afk_vote_time 120
sv_vote_kick_min 5

sv_spectator_votes 0

#sv_deepfly 0

access_level logout 2

# moderator
access_level status 1
access_level show_ips 1
access_level muteid 1
access_level mutes 1
access_level kick 1
access_level vote 1
access_level force_vote 1
access_level set_team 1
access_level moderate 1
access_level unban 1
access_level bans 1
access_level ban 1
access_level dump_antibot 1
access_level sv_chat_initial_delay 1
access_level vote_mute 1
access_level vote_unmute 1
access_level vote_mutes 1
access_level unmute 1
access_level unmuteid 1
#access_level muteip 1
access_level mutes 1
access_level sv_dnsbl_ban 1
access_level sv_dnsbl_vote 1
access_level dump_log 1

sv_ddrace_rules "0"
sv_rules_line1 "Rules:"
sv_rules_line2 "   • Respect other players."
sv_rules_line3 "   • Don't insult/spam."
sv_rules_line4 "   • Don't block."
sv_rules_line5 "   • Don't make fun-votes/vote-spamming."
sv_rules_line6 "   • Don't use or advertise any tool (client, bot) allowing you to cheat."
sv_rules_line7 "   • Don't fake others."
sv_rules_line8 "   • Don't troll others."
sv_rules_line9 "Breaking these rules will result in a penalty."

sv_tee_historian 1

sv_reserved_slots 1
#sv_reserved_slots_pass cake

sv_saveswapgames_delay 30
sv_saveswapgames_penalty 30

# vi:syntax=sh

